<html>
  <head>
    <title>7TV Emotes | Top</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div id="app">
      <h1>
        Top 7tv Emotes of speicfically tracked <%= channels %> Channels.<br />
        These are channels emotes tracked unlike global emotes just logging by
        keyword
      </h1>
    </div>
    <div class="leaderboard">
      <% for (const data of emotes) { %>
      <h3><%= data.name %></h3>
      <p>Count: <%= data.usage %></p>
      <img src="https://cdn.7tv.app/emote/<%= data.emote %>/2x" />
      <% } %>
    </div>
  </body>
</html>
